// jetbrains
@font-face {
    font-family: 'jb';
    src: url('~fonts/jb-bold.woff2') format('woff2'),
        url('~fonts/jb-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'jb';
    src: url('~fonts/jb-italic.woff2') format('woff2'),
        url('~fonts/jb-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'jb';
    src: url('~fonts/jb-light.woff2') format('woff2'),
        url('~fonts/jb-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'jb';
    src: url('~fonts/jb-regular.woff2') format('woff2'),
        url('~fonts/jb-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// roboto
@font-face {
    font-family: Roboto-Regular;
    src: url('~fonts/roboto-regular.woff2') format('woff2'),
        url('~fonts/roboto-regular.woff') format('woff'),
        url('~fonts/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url('~fonts/roboto-bold.woff2') format('woff2'),
        url('~fonts/roboto-bold.woff') format('woff'),
        url('~fonts/roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url('~fonts/roboto-light.woff2') format('woff2'),
        url('~fonts/roboto-light.woff') format('woff'),
        url('~fonts/roboto-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

// icon font
@font-face {
    font-family: 'icon-font';
    src: url('~fonts/icon-font.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
