$white: #fff;
$black: #212121;
$yellow: #ffe17f;
$dark-grey: #d7e9f0;
$lite-grey: #e7f1f7;
$dark-blue: #003755;
$lite-blue: #009ddc;

$breakpoint-default: 1600px;
$breakpoint-desktop: 1240px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-v-mobile: 480px;

$transition: .3s ease-in-out;
