$white: #fff;
$red: #ed174b;
$red-dark: #c20f3b;
$red-darker: #700922;
$black: #212121;
$gray-dark: #d7e9f0;
$gray-lite: #e7f1f7;
$gray-liter: #f2f8fa;
$gray-darker: #4392B1;
$gray-darkerer: #387A94;
$gray-bg: #2E3033;
$blue-dark: #003755;
$blue-lite: #009ddc;
$blue-middle: #a1bdc9;
$yellow: #ffe17f;
$yellow-dark: #ffd54c;
$yellow-darker: #b28800;

$breakpoint-desktop: 1921px;
$breakpoint-laptop: 1679px;
$breakpoint-tablet: 1359px;
$breakpoint-v-tablet: 1023px;
$breakpoint-mobile: 599px;

$transition: .3s ease-in-out;

$ratio: 1.4142;
